{% extends 'web-chat-base-template.html' %}

{% block body %}
    <body>
    <nav class="chat-header">
        <image class="chat-logo" src="https://www.svgrepo.com/show/509800/chat-emoji.svg"/>
        <span class="chat-name">{{ room }}</span>
        <span class="chat-name" style="left: 50%;">Deep Chat</span>
        <span class="room-exit"><a href="/">Exit</a></span>
    </nav>
    <section class="chat-container"></section>
    <form id="post-form">
        {% csrf_token %}
        <footer class="msg-box">
            <span class="msg-icon">
                <i class="fa-solid fa-keyboard"></i>
                <input type="text" placeholder="your message..." name="message" id="message"/>
            </span>
            <input type="hidden" name="username" id="username" value="{{username}}"/>
            <input type="hidden" name="room_id" id="room_id" value="{{room_details.room_name}}"/>
            <span class="send">
                <button class="send-button" type="submit" value="send">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
<!--                <input type="submit" value="Send" class="send-button">-->
            </span>
        </footer>
    </form>
</body>
{% endblock %}

{% block script %}
    <script>
$(document).ready(function(){
setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/getMessages/{{ room }}",
        success: function(response){
            $(".chat-container").empty();
            for (var key of response.messages)
            {
                var temp="<section class='chat-body'><div class='user-name'>"+key.user_name+"</div><div class='user-msg'>"+key.message+"</div><div class='time-stamp'>"+key.date_time+"</div></section>";
                $(".chat-container").append(temp);
            }
        },
        error: function(response){
            console.log(response)
        }
    });
},500);
})


$(document).on('submit','#post-form',function(e){
e.preventDefault();

$.ajax({
  type:'POST',
  url:'/send',
  data:{
      username:$('#username').val(),
      room_id:$('#room_id').val(),
      message:$('#message').val(),
      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
  }
});
document.getElementById('message').value = ''
});
$(".chat-body").animate({ scrollTop: 20000000 }, "slow");

</script>
{% endblock %}