body{
    background-color: #92a8d1;
    margin: 0;
}

.chat-header{
    background-color: #005582;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 1;
}

.chat-logo{
    background-color: aliceblue;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    position: absolute;
    left: 2vw;
    top: 5px;
}

.chat-name{
    color: white;
    position: absolute;
    left: 20%;
    top: 2.5vh;
    font-size: 23px;
    text-transform: capitalize;
}

.room-exit > a{
    color: #fff;
    text-decoration: none;
    float: right;
    position: fixed;
    top: 3vh;
    right: 5vw;
    font-size: 23px;
}

.chat-container{
    position:fixed;
    height: 93%;
    width: 100%;
    overflow-y: scroll;
}

.chat-container section:nth-child(even){
    float: right;
    top: 8vh;
}

.chat-container section:nth-child(odd){
    float: left;
    top: 8vh;
}


.chat-body{
    background-color: white;
    height: auto;
    width: 48%;
    border-radius: 15px;
    top: 5vh;
    position: relative;
    margin: 1vh 3vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user-name, .user-msg, .time-stamp{
    text-transform: capitalize;
    position: relative;
    left: 3vw;
    padding: 3px;
}

.user-name{
    font-weight: bold;
    margin-top: 10px;
}

.user-msg{
    line-height: 18px;
    font-size: 18px;
    height: auto;
    max-width: 80%;
    font-family: 'Arial Narrow Bold', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-transform: none;
}

.user-name, .time-stamp{
    font-size: 13px;
    font-family:'Arial Narrow Bold', sans-serif;
}

.time-stamp{
    text-align: right;
    left: -3vw;
}

.msg-box{
    background-color: #59709c;
    position: fixed;
    width: 100%;
    height: 6vh;
    bottom: 0vh;
    border-radius: 10px;
}

.msg-icon{
    position: relative;
    left: 2vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.msg-icon > input{
    height: 4vh;
    position: relative;
    top: 3px;
    width: 70%;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: white;
}

.msg-icon > input::placeholder{
    color: white;
}

.msg-icon > input:focus{
    outline: none;
}

.fa-keyboard, .send-button{
    font-size: 30px;
    margin-right: 10px;
    position: relative;
    top: 1vb;
    color: white;
}

.send-button{
    position: relative;
    background-color: aqua;
    background-color: transparent;
    border-style: none;
    float: right;
    cursor: pointer;
}

.fa-keyboard:hover{
    background-color: red;
}